header {
    text-align: center;
    background-color: aquamarine;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border: 3px double black;
    border-collapse: collapse;
}

td, th {
    border: 3px double black;
}

img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

h2, p {
   text-align: center;
}

footer {
    text-align: right;
}