*{

background-color: rgb(245, 195, 177);

}


h1{
    
text-align: center;
text-shadow: 2px 2px 2px rgb(255, 253, 254);

}



.subastaimg{
margin-top: 20px;
object-fit: cover;
height: 200px;
width: 250px;

}

